/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
 }
 main {
    flex: 1 0 auto;
  }
  
  nav ul a {
  padding: 0 10px !important;
}

@media screen and (max-width: 525px){
    body {
        background: url('../imgs/background.png?v=1.0') no-repeat center #f1f0eb; background-attachment:fixed;
    }
}
@media screen and (min-width: 526px){
    body {
        background: url('../imgs/background.png?v=1.0') no-repeat center #f1f0eb; background-attachment:fixed;
    }
}

@font-face {
	font-family: 'MCBlossoms';
	src: url('/fonts/mc/hinted-MCBlossoms.eot');
	src: local('MCBlossoms'),
		url('/fonts/mc/hinted-MCBlossoms.eot?#iefix') format('embedded-opentype'),
		url('/fonts/mc/hinted-MCBlossoms.woff') format('woff'),
		url('/fonts/mc/hinted-MCBlossoms.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

.imgcontainer {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
  
 .custom-darkred {
  background-color: #d03942 !important;
}
 .custom-red {
  background-color: #f1687a !important;
}
 .custom-darkblue {
  background-color: #4e71b1 !important;
}
 .custom-blue {
  background-color: #73a3d3 !important;
}
 .custom-lightblue {
  background-color: #e4f1fa !important;
}
 .custom-darkgreen {
  background-color: #73904d !important;
}
 .custom-green {
  background-color: #9bb463 !important;
}

::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #e4f1fa; }
::-webkit-scrollbar { width: 10px; background-color: #e4f1fa; }
::-webkit-scrollbar-thumb { background-color: #4e71b1; }
::-moz-selection { background: #4e71b1; color: white; }
::selection { background: #4e71b1; color: white; }